nav{
    color: #fff !important;
}
.nav-link {
    color: #fff !important;
    font-size: 18px !important;
    padding: 0 1rem !important;
}
.purchase{
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: pink;
    padding: 1rem;
    border-radius: 100px;
    font-weight: 500;
}